################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ERP/obj
/Reports/obj
/ERP示例/obj
/框架/obj
/系统/obj
/输出
